# folders
/.vscode
/models
# virtual environments 
/virt
/ml

# build info
/dist 
.eggs/
/donkeybot.egg-info
/lib/donkeybot.egg-info

# data (created locally on your machine after running build_donkeybot.py)
/data/old
/data/conversation_dict.pickle
/data/data_storage.db
/data/docs_input_data.db
/data/emails_input_data.db
/data/issues_input_data.db

# files
__pycache__
.pytest_cache
.ipynb_checkpoints